<div class="navBarContainer" [ngStyle]="{'background-color': scrolled ? 'white' : 'rgb(255, 255, 255, .7)', 'height': scrolled ? '60px' : '80px'}">
<!-- <div class="navBarContainer"> -->
    <div class="navBarContainer__leftNavSection">
        <div class="navItem">Company</div>
        <div class="navItem">About Us</div>
        <div class="navItem">Item 3</div>
    </div>
    <div class="navBarContainer__navIcon"></div>
    <div class="navBarContainer__rightNavSection">
        <div class="navItem">Services</div>
        <div class="navItem">Contact Us</div>
        <div class="navItem">Item 3</div>
    </div>
</div>